h1,h2,h3,h4{
	color: #000000;
}

body{
	
	background-color: #046B92;
	font-family: "Times New Roman";
}
.earlylife{
	width:65%;
	background-color: #138A00;
	border: solid;

}
.ryan{
	width:65%;
	background-color: #138A00;
	border: solid;

}
.earlylife2{
	width:80%;
	background-color: #138A00;
	border: solid;

}
.thestory{
	background-color: #138A00;
	border: solid;
	width: 50%;
}
.vidya{
	background-color: #138A00;
	border: solid;
	width: 50%;
}
.thesales{
	background-color: #138A00;
	border: solid;
	width: 12% ;

	
}
.godd{
	background-color: #138A00;
	border: solid;
	width: 65% ;
	padding:50px;
	font-family: "Times New Roman";
}
.final2{
	background-color: #138A00;
	border: solid;
	width: 65% ;
	padding:5px;
	font-family: "Times New Roman";
}
.thesales2{
	background-color: #138A00;
	border: solid;
	width: 65% ;
	font-family: "Times New Roman";
		padding: 50px;

	
}
.mainforbidden{
	background-color: #138A00;
	width:65%;
	border: solid;
	font-family: "Times New Roman";
	padding:5px;
}
.almirCrime{background-color: #138A00;
	border: solid;
	width: 65% ;
padding: 25px;
	font-family: "Times New Roman";
}
.titlegodd{
	width:25%;
	border: solid;
	background-color: #138A00;
}
.gaben{
	background-color: #138A00;
	border: solid;
	width: 20% ;

	
}
.final{
	background-color: #138A00;
	border: solid;
	width: 30% ;

	
}
		.gaben2{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	padding:15px ;
	
	}
 .almir1{
	background-color: #138A00;
	border: solid;
	width: 35% ;

	
}
.almir2{
	background-color: #138A00;
	border: solid;
	width:25%;
}
.almir3{
	background-color: #138A00;
	border: solid;
	width:65%;
	
}
.linkalmir{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	
	}
.linksprayer{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	
	}
	.crimefest{
	
	font-family: "Times New Roman";
	width: 30%;
	border: solid;
	background-color: #138A00;
	padding: 7px;

}
	.info2{
	background-color: #138A00;
	border: solid;
	width: 70% ;
	padding: 50px;
	
	}
.prayer{
	
	font-family: "Times New Roman";
	width: 65%;
	border: solid;
	padding:25px;
	background-color: #138A00;

}
.borderprayer{
	background-color: #138A00;
	border: solid;
	width: 12% ;
	
}
.borderbust{
	background-color: #138A00;
	border: solid;
	width: 35% ;
	
}
.tightaf{
	background-color: #138A00;
	border: solid;
	width: 25% ;
	border: solid;
	clear: both;
}
	.info{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	
	}
	.listmain{
		background-color: #26AADD;
	border: solid;
	float: right;
		
	}

		.linkscrimefest{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
	.linksmain{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
.bordermain{
	background-color: #138A00;
	border: solid;
	width: 12% ;
	
	}
		
		.borderamain{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	
	}
	.namemain{
		background-color: #138A00;
	border: solid;
	width: 26%;
	clear: both;
	
		
	}
	.border1main{
	background-color: #138A00;
	border: solid;
	width: 25% ;
	clear: both;
	
	}
		.border2main{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	
	}
		.border3main{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	
	}
			.border4main{
	background-color: #138A00;
	border: solid;
	width: 75% ;
	
	}
		.border5main{
	background-color: #138A00;
	border: solid;
	width: 75%;
	}	
	.border6{
		background-color:#138A00;
		border: solid
	}
