h1,h2,h3,h4{
	color: #000000;
}

body{
	
	background-color: #25715A;
	font-family: "Times New Roman";
}
.thesales{
	background-color: #046B92;
	border: solid;
	width: 12% ;

	
}
.thesales2{
	background-color: #046B92;
	border: solid;
	width: 65% ;
	font-family: "Times New Roman";

	
}
.gaben{
	background-color: #046B92;
	border: solid;
	width: 12% ;

	
}
 .Almir1{
	background-color: #046B92;
	border: solid;
	width: 12% ;

	
}
.linksprayer{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	
	}
	.crimefest{
	
	font-family: "Times New Roman";
	width: 30%;
	border: solid;
	background-color: #046B92;

}
	.info2{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	padding: 50px;
	
	}
.prayer{
	
	font-family: "Times New Roman";
	width: 65%;
	border: solid;
	background-color: #046B92;

}
.borderprayer{
	background-color: #046B92;
	border: solid;
	width: 12% ;
	
}
.tightaf{
	background-color: #046B92;
	border: solid;
	width: 25% ;
	border: solid;
	clear: both;
}
	.info{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
	.listmain{
		background-color: #26AADD;
	border: solid;
	float: right;
		
	}

		.linkscrimefest{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
	.linksmain{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
.bordermain{
	background-color: #046B92;
	border: solid;
	width: 12% ;
	
	}
		
		.borderamain{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
	.namemain{
		background-color: #046B92;
	border: solid;
	width: 65%;
	clear: both
		
	}
	.border1main{
	background-color: #046B92;
	border: solid;
	width: 25% ;
	clear: both;
	
	}
		.border2main{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
		.border3main{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
			.border4main{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
		.border5main{
	background-color: #046B92;
	border: solid;
	width: 75%;
	}	
	.border6{
		background-color:#046B92;
		border: solid
	}
