h1,h2,h3,h4{
	color: #000000;
}

body{
	
	background-color: #25715A;
	font-family: "Times New Roman";
}
.linksprayer{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
	.crimefest{
	
	font-family: "Times New Roman";
	width: 30%;
	border: solid;
	background-color: #046B92;

}
	.info2{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
.prayer{
	
	font-family: "Times New Roman";
	width: 30%;
	border: solid;
	background-color: #046B92;

}
.borderprayer{
	background-color: #046B92;
	border: solid;
	width: 12% ;
	border: solid;
}
.tightaf{
	background-color: #046B92;
	border: solid;
	width: 25% ;
	border: solid;
	clear: both;
}
	.info{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}

	.links{
		float: right;
		width: 20%;
		border: solid;
	background-color: #26AADD;
	}
.border{
	background-color: #046B92;
	border: solid;
	width: 12% ;
	
	}
		
		.bordera{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
	.border1{
	background-color: #046B92;
	border: solid;
	width: 25% ;
	clear: both;
	
	}
		.border2{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
		.border3{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
			.border4{
	background-color: #046B92;
	border: solid;
	width: 75% ;
	
	}
		.border5{
	background-color: #046B92;
	border: solid;
	width: 75%;
	}	
	.border6{
		background-color:#046B92;
		border: solid
	}
